<h1>
  List of Actors:
</h1><br/><br/>
<ul>
  <% @actors.each do |actor_info| %>
    <li><a href="/actors/<%="#{actor_info["id"]}"%>"><%="#{actor_info["name"]}"%></a></li>
  <% end %>
</ul>
<br/><br/>
<a href="/">Back</a>
