<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header>
      <ul class="navigation">
        <li><img id = "logo-image" src = "filmreel.jpg"></li>
        <li><a id = "brand" href = "/">Best Movie Database EVER</a></li>
        <li><a class = "nav-link" href = "/movies">Movies</a></li>
        <li><a class = "nav-link" href = "/actors">Actors</a></li>
      </ul>
    </header>


    <div id='main_content'>
      <%= yield %>
    </div>
  </body>
</html>
