<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <div id='main_content'>
      <%= yield %>
    </div>

  </body>
</html>
