<h1>
  Table of Movies:
</h1>
<br/>
<br/>
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Genre</th>
        <th>Studio</th>

      </tr>
    </thead>
    <tbody>
      <% @movie.each do |movie_info| %>

        <li><a href="/movies/<%="#{movie_info["id"]}"%>"><%="#{movie_info["title"]}"%></a></li>

        <br/>
      <% end %>


    </tbody>
  </table>
  <br/><br/>
  <a href="/">Back</a>
</div>
